@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
    font-family: 'Roboto';
    background-color: rgba(177, 196, 197, 0.274);
}

body {
    width: 1920px;
    height: 2770px;
}

.title, .rating, .bookmark{
    display: inline-block;
}

section {
   /* margin: 29px 260px 165px 260px;*/
    margin-left: 260px;
    margin-right: 260px;
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    background-color: #FFFFFF;
    height: 164px;
    width: 1400px;
    border-radius: 15px;
}

#first {
    margin-top: 29px;
    margin-bottom: 8px;
}

.second {
    margin-bottom: 8px;                                         
}

.first-title, .third-title {
    width: 1070px;
}

.title {
    width: 1100px;
    height: 116px;
    padding: 18px 0px 24px 16px;
}

.rating {
    width: 96px;
    height: 18px;
    padding-top: 73px;
    padding-bottom: 73px;
}

.bookmark {
    width: 138px;
    height: 116px;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: flex-end;
    margin-left: 128px;
}

.bookmark-with-rating {
    width: 138px;
    height: 116px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: flex-end;
    margin-left: 32px;
}

.job-address {
    display: inline-block;
    padding-left: 26px;
}

a {
    text-decoration: none;
    color: #3A4562;
    width: 712px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
}

p {
    width: 959px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
    color: #878D9D;
}

.pin-drop {
    opacity: 0.5;
    height: 20px;
    width: 20px;
}

.bookmark-img {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: flex-end;
}

.bookmark-paragragh {
    display: flex;
    align-items: flex-end;
    text-align: right;
    width: 138px;
    height: 67px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 515px;
    height: 52px;
    background-color: #FFFFFF;
    margin: 49px 742px 64px 663px;
    border-radius: 15px;
}

.footer-img {
   opacity: 0.5;
}

.footer-numbers {
    display: flex;
    justify-content: center;
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 20.8px;
    line-height: 25px;
}

@media screen and (max-width: 396px) {
    body {
        width: 396px;
    }

    .bookmark-img {
        display: none;
    }

    #first {
        margin-top: 0;
        margin-bottom: 0;
    }

    section {
        max-width: 396px;
        height: 206px;
        margin-left: 9px;
        margin-right: 9px;
        background-color: rgba(202, 222, 223, 0.274);
        border: solid;
        border-width: 2px;
        border-color: rgba(202, 222, 223, 0.274);
        box-shadow: 5px 10px rgba(202, 222, 223, 0.274);
        display: grid;
        justify-content: center;
    }

    h3 a {
        width: 278px;
        height: 48px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 0;
    }

    

    .name {
        width: 279px;
        height: 50px;
        margin-top: 0;
            margin-bottom: 0;
    }

    .address {
        width: 137px;
        height: 25px;
        margin-top: 0;
            margin-bottom: 0;
    }

    .title {
        width: 66px;
        height: 66px;
    }

    .rating {
        width: 54px;
        height: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .bookmark-with-rating {
        width: 125px;
        height: 17px;
    }

    /*.title {
        display: grid;
        grid-template-columns: auto auto;
    }

    .job-address {
        display: grid;
        grid-template-rows: auto auto auto auto;
    }*/

    .rating { grid-area: rating;}
    .bookmark-with-rating {grid-area: bookmark-rating;}
    .title {grid-area: title;}
    .bookmark {grid-area: bookmark;}

    .grid-container-rating {
        display: grid;
        grid-template-areas: 
        'rating bookmark-rating'
        'title title'
        'title title'
        'title title';
    }

    .grid-container {
        display: grid;
        grid-template-areas: 
        'bookmark bookmark'
        'title title'
        'title title'
        'title title';
    }
}
